<%= provide :title, t("signup") %>
<%= provide :button_text, t("signup") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center"><%= t "signup" %></h1>
    <%= render "error" %>
    <%= render "form" %>
  </div>
</div>
