<div class="media" id="micropost-<%= micropost.id %>">
  <div class="media-left">
    <%= link_to gravatar_for(micropost.user, size: Settings.avatar.size_small,
      class: "media-object"), micropost.user %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to micropost.user.name, micropost.user %></h4>
    <p class="timestamp">
      <%= t "microposts.post_time", time: time_ago_in_words(micropost.created_at) %>
      <% if logged_in? && current_user.current_user?(micropost.user) %>
        <%= link_to t("microposts.delete"), micropost, method: :delete,
          data: {confirm: t("microposts.delete_confirm")} %>
      <% end %>
    </p>
    <p class="content"><%= micropost.content %></p>
    <p class="picture"><%= image_tag micropost.picture.url if micropost.picture? %></p>
    <p><%= render micropost.comments %></p>
    <%= link_to "Add Comment", new_micropost_comment_path(micropost_id: micropost.id) %>
  </div>
</div>
